{% if ssl_enabled %}
server {
  server_name {{ app_domain }};
  listen 80;

  location / {
    rewrite ^(.*) https://{{ app_domain }}$1 permanent;
  }
}
{% endif %}

server {
  server_name {{ app_domain }};

  error_page 500 /500.html;
  proxy_intercept_errors off;

  {% if ssl_enabled %}
  listen 443 ssl;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  {% else %}
  listen 80;
  {% endif %}
  access_log "/var/log/nginx/{{ app_name }}.log";
  error_log "/var/log/nginx/{{ app_name }}-error.log";

  {% if ssl_enabled %}
  ssl_certificate /etc/nginx/ssl/{{ app_domain }}.crt;
  ssl_certificate_key /etc/nginx/ssl/{{ app_domain }}.key;
  {% endif %}

  root "{{ app_dir }}/public/";
  {% if app_debug_mode %}
  sendfile off;
  {% endif %}

  error_page 502 /502.html;
  location = /502.html {
    root "{{ app_dir }}/public/";
  }

  keepalive_timeout 5;

  add_header Vary Accept;

  gzip             on;
  gzip_min_length  1000;
  gzip_proxied     expired no-cache no-store private auth;
  gzip_types       text/plain application/xml application/x-javascript application/javascript text/css;
  gzip_disable     "MSIE [1-6]\.";
  gzip_vary        on;

  client_max_body_size 20m;
}
