/* cardDashboard **************************************************************/
.cardDashboard {
  width: 100%;
  position: relative;

  .m-maxMedia(800px, {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  });
  .m-maxMedia(500px, {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  });
}

.cardDashboard-item {
  position: absolute;
}
