<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><% vlock(:title) %>Worldnews</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" />
    <link href="/images/worldnews.svg" rel="shortcut icon" type="image/svg" />
  </head>
  <body>
    <% vlock(:body) %>

    <script src="/javascripts/application.js"></script>
  </body>
</html>
