<% extends("layouts/base.html") %>
<% vlock(:body) do %>
  <header class="mainHeader">
    <div class="contentWrapper">
      <h1 class="mainHeader-title">Worldnews</h1>
      <a class="mainHeader-link" href="/">
        <img src="/images/worldnews.svg" alt="Worldnews" class="mainHeader-logo" />
      </a>
      <h2 class="mainHeader-tagline">
        Enjoy the most popular news of the day curated by the
        <a class="link" href="http://www.reddit.com/">Reddit Community</a>.
        Made by Flatten.
      </h2>
    </div>
  </header>
  <div class="contentWrapper">
    <div class="js-postsDashboard"></div>
  </div>
<% end %>
